
.third-section{
    background-color: var(--green-dark);
    padding-top: 220px;
    padding-bottom: 100px;
}

.third-section .container{
    text-align: right;
    position: relative;
    z-index: 1;
    padding-right: 5%;
}

.third-section .tag,
.third-section .tagline{
    word-spacing: -3px;
    line-height: 2.5rem;
}

.third-section .tag{
    margin-right: -15px;
}
.third-section .description_div{
    margin:5% auto 0 13%;
}


.third-section .btn{
    margin-top: 50px;
    margin-bottom: 50px;
}

.third-section .images img{
    position: absolute;
    object-fit: contain;
    z-index: 0;
}
.third-section .first-plant{
    bottom: -10px;
    left:10%;
    max-height: 250px;
}

.third-section .other-plant{
    bottom: -10px;
    right:5%;
    max-height: 350px;
}
.third-section .planet{
    top: 20%;
    left: 5%;
    max-height: 250px;
    max-width: 250px;
}

.third-section .small-planet{
    top: 10%;
    right: 10%;
    max-height: 50px;
    max-width: 50px;
    transform: rotate(60deg);
}


.third-section .small-starlike{
    top: 20%;
    right: 10%;
    max-height: 100px;
    max-width: 100px;
}


.third-section .extra-small-starlike{
    top: 40%;
    right: 55%;
    max-height: 40px;
    max-width: 40px;
}

.third-section .horizontal-line{
    top: 45%;
    right: 70%;
    max-width: 350px;
    max-height: 20px;
}

.third-section .horizontal-line-2{
    top: 87%;
    right: 30%;
    max-width: 350px;
    max-height: 20px;
}


@media screen and (max-width:992px) {
    

    .third-section .small-planet{
        display: none;
    }


    .third-section .planet{
        top: 30%;
        max-height: 150px;
        max-width: 150px;
    }
    .third-section .small-starlike{
        top: 25%;
        max-height: 40px;
        max-width: 40px;
    }

    .third-section .extra-small-starlike{
        right: 70%;
    }

}


@media screen and (max-width:800px) {
    
    .third-section .horizontal-line{
        right: 80%;
        max-height: 10px;
    }

    .third-section .horizontal-line-2{
        top: 80%;
        max-height: 10px;
    }
}


@media screen and (max-width:600px) {
        
    .third-section{
        background-color: var(--green-dark);
        padding: 150px 15px 100px;
    }

    .third-section .tag,
    .third-section .tagline{
        line-height: 2.5rem;
    }

    .third-section .description_div{
        margin:30% auto;
        max-width: 80%;
    }

    .third-section .first-plant{
        bottom: -10px;
        left:10%;
        max-height: 150px;
    }

    .third-section .other-plant{
        bottom: -10px;
        right:5%;
        max-height: 200px;
    }
    .third-section .planet{
        top: 10%;
        max-height: 100px;
        max-width: 100px;
    }
    .third-section .small-starlike{
        top: 5%;
        max-height: 40px;
        max-width: 40px;
    }

    .third-section .extra-small-starlike{
        right: 80%;
        max-height: 20px;
        max-width: 20px;
    }

    .third-section .horizontal-line{
        top: 52%;
        right: 0;
        max-height: 10px;
    }

    .third-section .horizontal-line-2{
        top: calc(52% + 330px);
        right: auto;
        left: 0;
        max-height: 10px;
    }
}

